header {
   
    background:#bbbbbb;
    padding: 20px 0;
    
}

.caixa {

    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
  
    position: absolute;
    top: 110px;
    right: 0;

}

nav li{

    display: inline-block;
    margin: 0 0 0 15px;
   
}

nav a {

    
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {

    color: #c78c19;
    text-decoration: underline;

}
.produtos{

    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}
.produtos li{

    display: inline-block;
    text-align:center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: #000;
    border-style: solid;
    border-width: 2px ;
    
  /*  border: 2px solid #000; */
}

nav a:hover {

    color: #c78c19;
    text-decoration: underline;

}

#banner {

    width: 100%;

}

.principal {

    background-color: #ccc;
    padding: 30px;
    
}

p {
    text-align: center;  
}

em strong{
    
    color: red;
}

#missao {

    font-size: 20px;
}

.itens {

    font-style: italic;

}

.beneficios{
     
    background: #fff;
    padding: 20px;

}

.titulo-centralizado {

    text-align: center;
    

}

ul{

    display: block;
    width: 20%;
    margin-right: 15%;

}

.imagembeneficios{

    width: 50%;

}

footer {

    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyringht{

    color:white ;
    margin-top: 20px;

}



